.login {
	background-color: white;
	border: 10px solid black;
	width: 200px;
	display: flex;
	padding: 30px;
}

.signup {
	background-color: white;
	padding: 10px;
	border: 10px solid black;
	width: 200px;
	display: flex;
}

.loginForm,
.signupForm {
	margin-bottom: 0;
}

.submitBtn {
	margin-top: 10px;
}

.bold {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

.center {
	text-align: center;
	justify-content: center;
}

html {
	height: 100%;
}

.blurr-background {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.LoginPage {
	background-image: url('../../images/haley-powers.jpg');
	background-size: cover;
	height: 100vh;
}

.LoginPage:before {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.logincontainer {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}
