@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.css';

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.note {
	display: flex;
	width: 50px;
	height: 35px;
	background-color: white;
	border: 1px black solid;
	justify-content: center;
}

.noteSpan {
	pointer-events: none;
	line-height: 35px;
	color: rgba(76, 141, 156, 0.25);
}

.note.selected {
	background: rgba(44, 178, 196, 0.72);
}

.notesComponent {
	display: flex;
	box-sizing: border-box;
}

.playing > * {
	background-color: yellow;
}

.ToolbarComponent {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}

.action-button {
	color: rgb(99, 154, 247);
	font-weight: bolder;
	margin-top: 10px;
	padding: 20px;
	border-radius: 20px;
	border: 2px rgba(197, 197, 199, 0.4) solid;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

button:disabled {
	color: grey;
}

.Page {
	display: flex;
	flex-direction: column;
}

.SoundStudioPageLayout {
	display: flex;
	margin-top: 30px;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 100%;
	padding: 30px;
}

.left {
	align-items: center;
	margin: 30px;
}

.right {
	padding: 20px;
}

.formlayout {
	margin-left: 180px;
	margin-top: 20px;
	width: 100vw;
	text-align: center;
	display: flex;
	margin-bottom: -30px;
}

.form {
	/*width: 30%;*/
	display: flex;
	width: 100%;
}

.form > * {
	padding: 5px;
	margin: 5px;
}

.InstrumentsComponent {
	padding-top: 20px;
}

.ToolbarComponent {
	text-align: center;
}

/*Navigation*/

.Nav {
	margin-left: 0;
	width: 100vw;
	/*display: fixed;*/
	/*background-color: rgb(84, 84, 84);*/
	/*background-color: rgb(214, 232, 242);*/
	/*overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	/*top: 0; /* Position the navbar at the top of the page */
	margin-bottom: 20px;
}

.nav-item {
}

.FooterComponent {
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: 40px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.footer-text {
	position: absolute;
	right: 20px;
}

/*IndexPage*/
.photoCredit {
	font-size: 12px;
	position: absolute;
	bottom: 50px;
	right: 20px;
	/*color: rgb(245, 245, 245);*/
}

.jumbotron-text {
	padding: 3px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
	display: flex;
	align-items: center;
	text-align: center;
	height: 100vh;
	background-image: url('./images/haley-powers.jpg');
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.2);
}

/*Library Page*/

.minigrid-row {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.minigrid {
	display: flex;
	flex-flow: column;
	height: 160px;
	width: 160px;
	box-sizing: border-box;
}

.mini-square {
	display: flex;
	width: 10px;
	height: 10px;
	background-color: white;
	border: 0.5px black solid;
	justify-content: center;
}

.filled {
	background-color: black;
}

.card-title {
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	font-size: 15px;
	font-weight: 600;
}

.card {
	padding: 20px;
}

.LibraryPageLayout {
	display: flex;
	flex-flow: column;
}

.LibraryPageContent {
	display: flex;
	margin-top: 40px;
	flex-flow: wrap;
	padding: 10px;
	padding-bottom: 40px;
}

.card-buttons {
	display: flex;
}

.btn {
	margin: 5px;
}

.LibrarySortComponent {
	display: flex;
	width: 100%;
	margin-top: 30px;
	margin-left: 100px;
}

.LibrarySortComponentSpan {
	margin-right: 20px;
	margin-top: 10px;
}

.searchForm {
	display: flex;
	align-items: flex-end;
}

.searchSortLabel {
	margin-left: 20px;
}
