@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.css';

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

span {
	pointer-events: none;
	line-height: 35px;
}

.note {
	display: table;
	width: 50px;
	height: 35px;
	background-color: white;
	border: 1px black solid;
}

.noteSpan {
	color: rgba(76, 141, 156, 0.25);
}

.note.selected {
	background: rgba(44, 178, 196, 0.72);
}

.notesComponent {
	display: flex;
	box-sizing: border-box;
}

.ToolbarComponent {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}

.action-button {
	color: rgb(99, 154, 247);
	font-weight: bolder;
	margin-top: 10px;
	padding: 20px;
	border-radius: 20px;
	border: 2px rgba(197, 197, 199, 0.4) solid;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.Page {
	display: flex;
	flex-direction: column;
}

.SoundStudioPageLayout {
	display: flex;
	margin: 10px;
	justify-content: space-around;
	min-height: 100%;
	margin-bottom: -50px;
	flex: 1 0 auto;
}

.left {
	align-items: center;
	margin: 30px;
}

.right {
	padding: 20px;
}

.InstrumentsComponent {
	padding-top: 20px;
}

.ToolbarComponent {
	text-align: center;
}

.Nav {
	width: 100%;
	display: flex;
	/*margin-top: 20px;*/
	background-color: rgb(214, 232, 242);
}

.FooterComponent {
	background-color: rgb(214, 232, 242);
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	margin-bottom: -10px;
}
